.env
/bootstrap/compiled.php
.env.*.php
.env.php

/public/assets/fonts
/public/assets/documentation
/public/assets/js
/node_modules
/storage/*.key
/storage/debugbar
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
updates/
# composer.lock
# *.lock
resources/lang/en.json
updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
/bootstrap/cache/*.php

# NOTE: /public/* was removed so that public/assets CSS/JS/images
# get committed to git and copied into Docker container on Railway.
# However, we are now specifically excluding massive asset folders.